<section class="section container" data-section-name="hobbies">
  <h2>Zájmy</h2>
  <div class="col">
    <app-zippy title="Pěší turistika">
      <p>Nejraději chodím horskou turistiku. Mému srdci nejbližší jsou Vysoké Tatry</p>
      <img src="./assets/Picture/uvod.jpg" width="300px" height="auto" alt="">
      <img src="./assets/Picture/pleso.jpg" width="300px" height="auto" alt="">
    </app-zippy>
    <app-zippy title="3D tisk">
      <p>3D tisk využívám nejvice k tištení insertů do her. Ale občas se vrhnu na praktičtější věci, třeba květináč
    </app-zippy>
    <app-zippy title="Deskové hry">
      <p>Zimní večery nejraději trávím u deskových her. Hraji od jednoduchých po složité euro hry, kde je faktor náhody
        minimální.</p>
      <p>Přidávám pár odkazů na deskové hry co mě oslovily</p>
      <div>
        <a href="https://www.zatrolene-hry.cz/spolecenska-hra/mlem-vesmirna-agentura-15729/"> Mlem</a><br />
        <a href="https://www.zatrolene-hry.cz/spolecenska-hra/archa-nova-12398/">Archa Nova</a><br />
        <a href="https://www.zatrolene-hry.cz/spolecenska-hra/kutna-hora-mesto-stribra-14736/">Kutná Hora</a><br />
      </div>
    </app-zippy>
    <app-zippy title="Malování figurek">
      <p>Je to spjato s mojí vášní pro deskové hry. Používám metodu rychlo malovaní tzv slap-chot.</p>
      <iframe width="300" height="auto" src="https://www.youtube.com/embed/HHc7Kvnb_6s?si=dJ7aahfI46unxKLD"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </app-zippy>
  </div>
  <div class="col">
    <app-carousel></app-carousel>
  </div>
</section>