.carousel-container {
          position: relative;
          max-width: 100%;
          width: 600px;
          height: 600px;
          margin: auto;
          overflow: hidden;
}

.carousel-slide {
          display: none;
          position: absolute;
          width: 100%;
          transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
          display: block;
          opacity: 1;
}

.carousel-slide img {
          width: 100%;
          height: auto;
}

.carousel-caption {
          position: absolute;
          bottom: 20px;
          left: 20px;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 10px;
}

.carousel-control {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
}

.carousel-control.prev {
          left: 10px;
}

.carousel-control.next {
          right: 10px;
}