<section class="container-fluid c-main-end mb-5" id="kontakt" text-center>
          <h2 class="my-5">Kontakt</h2>
          <div class="row row-cols-1 row-cols-md-2 ">
                    <div class="col">
                              <img src="./assets/Picture/stezka.jpg" height="100px" alt=""><br>
                              <span>
                                        Věra Hellebrand <br>
                                        Ostrava
                              </span><br>

                              <p><img class="my-1" src="./assets/Icons/tel.png" alt=""> 724 882 597</p>

                              <p class="email"><img class="my-1" src="./assets/Icons/mail.png"
                                                  alt="">hellebrandv&#64;gmail.com</p>
                              <p>
                                        <img src="./assets/Icons/linkedin.png" alt="">
                                        <a href="https://www.linkedin.com/in/vera-hellebrand/">LinkedIn</a>
                              </p>
                    </div>
                    <div class="col">
                              <h4 class="mt-2">Kontaktujte mě</h4>
                              <form action="" class="row ">
                                        <label for="name">Jméno:</label>
                                        <input type="text:" required id="name">
                                        <label for="email">Email</label>
                                        <input type="email" required id="email">
                                        <label for="subject">Předmět</label>
                                        <input type="text" id="subject">
                                        <label for="message">Zpráva</label>
                                        <textarea name="" id="" cols="30" rows="3" id="message"
                                                  placeholder="Omlouvám se, zatím jen ukázka, funkční bude hned jak pokročím se studiem"></textarea>
                                        <button class="btn-send">Poslat</button>

                              </form>

                    </div>
          </div>
</section>